<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>
        <a href="/">StayHub</a>
      </h1>
    </header>

    <article>
      <h2>Welcome, <%= user.fullName %>!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
        aspernatur maiores fugiat, nihil maxime animi tenetur vitae nulla
        molestias dolore in reprehenderit necessitatibus incidunt fugit, quo a
        eveniet. Nam, minima! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Enim repellat recusandae nesciunt quas et incidunt qui rem
        molestias dolorem officia eos consequatur sequi quaerat tempore beatae
        impedit, pariatur commodi eligendi.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores unde
        rem cupiditate. Odio possimus repellendus iure rerum quisquam et
        consectetur itaque cupiditate, commodi maiores nihil in, fugiat culpa
        atque quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloribus sunt facilis impedit vel. Eaque labore sit dolore adipisci
        aspernatur placeat quas soluta, nulla reprehenderit, sapiente corporis
        accusamus modi non ullam.
      </p>
    </article>
  </body>
</html>
