<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">StayHub</a>
      </h1>

      <div class="button-home">
        <button>
          <a href="/signin">Signin</a>
        </button>
        <button>
          <a href="/signup">Signup</a>
        </button>
      </div>
    </header>

    <article>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, rerum
        dignissimos. Maiores repudiandae labore incidunt neque, quis tempora
        ipsa vel pariatur eaque mollitia impedit illum architecto, voluptatibus
        quibusdam? Delectus, necessitatibus. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Magni hic id, nihil odit quibusdam
        eligendi amet ad porro adipisci quas suscipit assumenda aspernatur ipsa
        dolorem vel minima beatae eum? Consectetur! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Dolorum consequuntur perspiciatis enim
        minus odio natus ipsa harum provident amet non asperiores magni qui
        eligendi magnam, assumenda pariatur vitae? Ratione, excepturi!
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, rerum
        dignissimos. Maiores repudiandae labore incidunt neque, quis tempora
        ipsa vel pariatur eaque mollitia impedit illum architecto, voluptatibus
        quibusdam? Delectus, necessitatibus. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Magni hic id, nihil odit quibusdam
        eligendi amet ad porro adipisci quas suscipit assumenda aspernatur ipsa
        dolorem vel minima beatae eum? Consectetur! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Dolorum consequuntur perspiciatis enim
        minus odio natus ipsa harum provident amet non asperiores magni qui
        eligendi magnam, assumenda pariatur vitae? Ratione, excepturi!
      </p>
    </article>
  </body>
</html>
